*{
  background-color: gray;
}
img{
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
#tec,#gen,#ent{
  border-radius: 5%;
  margin-top: 100px;
}
#tec{
  background-color: lightblue;
}
#gen{
  background-color: lightgreen;
}
#ent{
  background-color: lightyellow;
}
#arti_list{
  background-color: gray;
  border-radius: 10%;
}
