img{
  background-repeat: no-repeat;
  background-size: cover;
  height:150px;
}
#tec,#gen,#ent{
  border-radius: 5%;
  margin-top: 100px;
}
#tec{
  background-color: lightblue;
}
#gen{
  background-color: lightgreen;
}
#ent{
  background-color: lightyellow;
}
