img{
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
#tec,#gen,#ent{
  border-radius: 5%;
  margin-top: 100px;
}
#tec{
  background-color: rgba(102, 153, 153, 0.3);
}
#gen{
  background-color: rgba(51, 102, 0, 0.3);
}
#ent{
  background-color: rgba(255, 153, 51, 0.3);
}
#arti_list{
  background-color: rgba(128, 128, 128,0.3);
  border-radius: 5%;
}
