{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}

<div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search for News" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>

<!-- Popular movie -->
<div class="container">
<div class="row">
  <div class="col-md-4" id='tec'>
    <h3> Technology News</h3>
    <ul>
      {{ macro.displayNewsList(technology)}}
    </ul>
  </div>

  <div class="col-md-4" id='gen'>
    <h3> General News </h3>
    <ul>
      {{ macro.displayNewsList(general)}}
    </ul>
  </div>

  <div class="col-md-4" id='ent'>
    <h3>Entertainment</h3>
    <ul>
      {{ macro.displayNewsList(entertainment)}}
    </ul>
  </div>
</div>
</div>
{% endblock%}
