{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}


<div class="container">

  <ul>
    {{ macro.displayArtiList(technology)}}
  </ul>
  <!-- <ul>
    {{ macro.displayDescrList(arti)}}
  </ul> -->
  <!-- <ul>
    {{ macro.displayArtiList(entertainment)}}
  </ul> -->

    <!-- <div class="row">

        <h1>Reviews</h1>
        <hr>

        {% if reviews %}
            {{macro.displayReviews(reviews)}}

        {% else%}
            <h3 class="text-center">This news has no reviews </h3>


        {% endif %}

    </div> -->

</div>
{% endblock %}
